@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5f6;
  --foreground: #181a20;
  --primary: #0052cc;
  --secondary: #1e88e5;
  --box: #ffffff;
  --border: #e0e0e0;
}

.dark {
  --background: #181a20;
  --foreground: #e0e0e0;
  --primary: #0052cc;
  --secondary: #1e88e5;
  --box: #222531;
  --border: #2d2f36;
}
